@media (min-width: 768px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header h1 {
    margin-bottom: 0;
  }

  #menu-button {
    display: none;
  }

  .navigation {
    display: flex !important;
    flex-direction: row;
    width: auto;
    margin-top: 0;
  }

  .navigation li {
    margin-left: 1rem;
  }

  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}